/*Alfa Slab One font family from google*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


html, body {
  margin: 0;
  overflow: hidden;
  font-family: "Alfa Slab One", "sans-serif";
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/tweed.png");
  color: #fff;
  text-shadow: black 1px 0 10px; 
  }
/* Font size and height responsiveness */
  @media (min-width: 320px) {
    body {
      font-size: 14px;
         }
       }

  @media (min-width: 369px) {
    body {
      font-size: 16px; }
       }

  @media (min-width: 768px) {
    body {
      font-size: 25px; }
       }

  @media (min-width: 1024px) {
    body {
      font-size: 25px; } 
      }

 /* Header */

/*Instruction and Volume button styling*/
.nav-wrapper .btn {
  color: #63e38a;
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  font-size: 30px;
  background: none;
  border: none;
  padding: 0;   
  letter-spacing: 1px;
  }

.nav-wrapper .btn:hover,
.nav-wrapper .btn:focus {
  text-decoration: none;
  background: none;
  border: none;
  box-shadow: none; 
  }

.nav-container {
    margin-top: 10px;
    padding: 0;
}
/* Game name styling*/
.nav-heading {
    margin: 0;
}
 

a {
    color:#fff;
}

a:hover {
        text-decoration: none;
        color: #fff;
    }

i {
    font-size: 80%;
}

i:focus, i:active {
    outline: none !important;
}


/* Container */
/* Start button - Round status - Strict mode styling*/
.container {
  overflow: hidden;
  margin: 0 auto;
   }

.top-panel {
  text-align: center;
  margin: 0 auto;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s; 
  }

 .nav {
  display: inline-block; 
  }
/* Start button - Round status - Strict mode responsiveness*/
  @media (min-width: 320px) {
    .nav {
      margin: 5px 5px; } 
      }

  @media (min-width: 369px) {
    .nav {
      margin: 12px 12px; }
       }

  @media (min-width: 768px) {
    .nav {
      margin: 15px 45px; }
       }

  @media (min-width: 1024px) {
    .nav {
      margin: 15px 85px; }
       }

.start-btn {
  cursor: pointer;
  color: #fff;
  }

.strict-btn {
    cursor: pointer;
    color: #fff; 
  }

.start-btn:hover,
.strict-btn:hover{
    color: #fff;
}

.strict-btn.on {
  color: yellow;
   }

.start-btn.on {
  color: yellow;
   }

 .round-status.wrong {
  color: red; }  

/* Gameboard */

.gameboard {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative; 
  }
/* Gameboard responsiveness*/
  @media (min-width: 320px) {
    .gameboard {
      width: 295px;
      height: 295px; }
       }

 @media (min-width: 369px) {
    .gameboard {
      width: 340px;
      height: 340px; }
       }

 @media (min-width: 768px) {
    .gameboard {
      width: 360px;
      height: 355px; }
       }      

  @media (min-width: 1024px) {
    .gameboard {
       width: 400px;
       height: 370px;} 
      }
/* Colour panels styling*/
.panel {
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  animation-duration: 0.75s;
  -webkit-animation-duration: 0.75s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
   }

/* Colour panels responsiveness*/
  @media (min-width: 320px) {
    .panel {
      width: 120px;
      height: 120px;
      border: 8px solid; }
       }

  @media (min-width: 369px) {
    .panel {
      width: 135px;  
      height: 135px;
      border: 9px solid; } 
      }

    @media (min-width: 768px) {
    .panel {
      width: 155px;  
      height: 155px;
      border: 9px solid; } 
      }

  @media (min-width: 1024px) {
    .panel {
      width: 170px;  
      height: 170px; 
      border: 10px solid; }
       }

/* Green / Yellow / Red / Blue Panels styling*/

.panel#yellow {
    padding: 5px;
    bottom: 0;
    left: 0;
    border-color: #f3b703;
   }

.panel#red {
    top: 0;
    right: 0;
    border-color: #db4031;
   }

.panel#green {
    padding: 5px;  
    bottom: 0;
    right: 0;
    border-color: #2daf4f;
  }

.panel#blue {
    top: 0;
    left: 0;
    border-color: #3c7de6;
}
/* Colour panels lit */
.panel#green:active, .panel.lit#green {
    background-color: rgba(52, 168, 83, 0.75);
   }

.panel#red:active, .panel.lit#red {
    background-color: rgba(234, 67, 53, 0.75);
   }

.panel#blue:active, .panel.lit#blue {
    background-color: rgba(66, 133, 244, 0.75);
   }

.panel#yellow:active, .panel.lit#yellow {
    background-color: rgba(251, 188, 5, 0.75);
   }

/* Status Bar */

.status-bar {
    text-align: center;  
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 0 auto;
  }
/* Status bar responsiveness*/
@media (min-width: 320px) {
    .status-bar {
    font-size: 13px; }
       }

@media (min-width: 369px) {
    .status-bar {
    font-size: 15px; }
       }

@media (min-width: 768px) {
    .status-bar {
    font-size: 16px; } 
      }

@media (min-width: 1024px) {
    .status-bar {
    font-size: 16px; }
       }

/* Footer */


.footer-text {
    font-family: "Alpha Slab One", sans-serif;
    font-size: 50%;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    padding: 20px 0px 3px 0px;
    
 }

.footer-text a{
    color: #f26b38
    }

.footer-text a:hover,
.footer-text a:focus {
    color: #fff
   }


/* Instuctions modal styling*/

body .modal-backdrop.fade.in {  /* I was unable to override Bootstrap modal CSS. Needed to debug.*/
    z-index: 0 !important;
}
.modal-content {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/tweed.png");
    font-family: "Alfa Slab One", "sans-serif";
}

.modal-header-title,
.modal-body-title {
    color: #fff;
    text-shadow: black 1px 0 10px; 
}

.close,
#modal-btn {
    color: #f26b38;
    text-shadow: 1px 1px 1px black;
    background: none;
    border: none;
}

.close {
    opacity: 1;
}

.close:hover,
#modal-btn:hover {
    color: #f26b38;
}

.modal-body-text {
    letter-spacing: 1px;
    color: #63e38a;
    text-shadow: 1px 1px 1px black;
}




