@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
  margin: 0;
  overflow: hidden;
  font-family: "Alfa Slab One", "sans-serif";
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete_wall.png");
  color: #fff;
  text-shadow: black 1px 0 10px; 
  height: auto;
  }

  @media (min-width: 320px) {
    body {
      font-size: 15px; }
       }

  @media (min-width: 369px) {
    body {
      font-size: 20px; }
       }

  @media (min-width: 768px) {
    body {
      font-size: 25px; }
       }

  @media (min-width: 1024px) {
    body {
      font-size: 25px; } 
      }

 /* Header */

.nav-wrapper .btn {
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  font-size: 30px;
  background: none;
  border: none;
  padding: 0;   
  letter-spacing: 1px;
  }

.nav-wrapper .btn:hover,
.nav-wrapper .btn:focus {
  text-decoration: none;
  color: #F26B38;
  background: none;
  border: none;
  box-shadow: none; 
  }

.nav-container {
    margin-top: 10px;
    padding: 0;
}

.nav-heading {
    margin: 0;
}
 

a {
    color:#fff;
}

a:hover {
        text-decoration: none;
        color: #fff;
    }

i {
    font-size: 80%;
}

/* Container */

.container {
  overflow: hidden;
  margin: 0 auto;
   }

.top-panel {
  text-align: center;
  margin: 0 auto;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s; 
  }

 .nav {
  display: inline-block; 
  }

  @media (min-width: 320px) {
    .nav {
      margin: 5px 5px; } 
      }

  @media (min-width: 369px) {
    .nav {
      margin: 12px 12px; }
       }

  @media (min-width: 768px) {
    .nav {
      margin: 0 42px; }
       }

  @media (min-width: 1024px) {
    .nav {
      margin: 0 92px; }
       }

.start-btn {
  cursor: pointer;
  color: #fff;
  }

.strict-btn {
  cursor: pointer;
  color: #fff; 
  }

/* Gameboard */

.gameboard {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative; 
  }

  @media (min-width: 320px) {
    .gameboard {
      width: 295px;
      height: 295px; }
       }

  @media (min-width: 369px) {
    .gameboard {
      width: 340px;
      height: 340px; }
       }

  @media (min-width: 1024px) {
    .gameboard {
       width: 420px;
       height: 420px;} 
      }

.panel {
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  animation-duration: 0.75s;
  -webkit-animation-duration: 0.75s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
   }


  @media (min-width: 320px) {
    .panel {
      width: 120px;
      height: 120px;
      border: 8px solid; }
       }

  @media (min-width: 369px) {
    .panel {
      width: 135px;  
      height: 135px;
      border: 9px solid; } 
      }

  @media (min-width: 1024px) {
    .panel {
      width: 170px;  
      height: 170px; 
      border: 10px solid; }
       }

/* Green / Red / Blue / Yellow Panels */

.panel#green {
    padding: 5px;
    bottom: 0;
    left: 0;
    border-color: #2daf4f;
   }

.panel#red {
    top: 0;
    right: 0;
    border-color: #db4031;
   }

.panel#blue {
    padding: 5px;  
    bottom: 0;
    right: 0;
    border-color: #3c7de6; 
  }

.panel#yellow {
    top: 0;
    left: 0;
    border-color: #f3b703; 
}

.panel#green:active, .panel.lit#green {
    background-color: rgba(52, 168, 83, 0.75);
   }

.panel#red:active, .panel.lit#red {
    background-color: rgba(234, 67, 53, 0.75);
   }

.panel#blue:active, .panel.lit#blue {
    background-color: rgba(66, 133, 244, 0.75);
   }

.panel#yellow:active, .panel.lit#yellow {
    background-color: rgba(251, 188, 5, 0.75);
   }

/* Status Bar */

.status-bar {
    text-align: center;  
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 0 auto;
    font-weight: bold; 
  }

@media (min-width: 320px) {
    .status-bar {
    font-size: 13px; }
       }

@media (min-width: 369px) {
    .status-bar {
    font-size: 15px; }
       }

@media (min-width: 768px) {
    .status-bar {
    font-size: 16px; } 
      }

@media (min-width: 1024px) {
    .status-bar {
    font-size: 16px; }
       }

/* Footer */
    .footer-text {
    font-family: "Alpha Slab One", sans-serif;
    font-size: 50%;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px;
    
 }

    .footer-text a:hover,
    .footer-text a:focus {
    text-decoration: none; 
    color: #F26B38;
  }
